Web/Web References/BanknetServices/PaymentGateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://pgWebservices" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://pgWebservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pgWebservices">
      <xs:element name="ConfirmTransactionResult">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Merchant_trans_id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Trans_id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merchant_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Trans_result" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Trans_key" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ConfirmTransactionResultResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerryBillStatus">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Merchant_trans_id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Trans_id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merchant_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Trans_key" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="QuerryBillStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Send_GoodInfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Merchant_trans_id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merchant_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Country_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Good_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Xml_description" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Net_cost" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Ship_fee" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Tax" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Url_success" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Url_fail" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Trans_key" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Send_GoodInfoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Send_GoodInfo_Ext">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Merchant_trans_id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merchant_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Country_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Good_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Xml_description" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Net_cost" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Ship_fee" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Tax" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Url_success" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Url_fail" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Trans_key" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="selected_bank" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Send_GoodInfo_ExtResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Send_GoodInfo_Ext2">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Merchant_trans_id" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Merchant_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Country_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Good_code" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Xml_description" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Net_cost" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Ship_fee" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Tax" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Url_success" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Url_fail" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="Trans_key" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="selected_bank" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="service_code" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Send_GoodInfo_Ext2Response">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="QuerryBillStatusRequest">
    <wsdl:part name="parameters" element="ns:QuerryBillStatus" />
  </wsdl:message>
  <wsdl:message name="QuerryBillStatusResponse">
    <wsdl:part name="parameters" element="ns:QuerryBillStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmTransactionResultRequest">
    <wsdl:part name="parameters" element="ns:ConfirmTransactionResult" />
  </wsdl:message>
  <wsdl:message name="ConfirmTransactionResultResponse">
    <wsdl:part name="parameters" element="ns:ConfirmTransactionResultResponse" />
  </wsdl:message>
  <wsdl:message name="Send_GoodInfo_Ext2Request">
    <wsdl:part name="parameters" element="ns:Send_GoodInfo_Ext2" />
  </wsdl:message>
  <wsdl:message name="Send_GoodInfo_Ext2Response">
    <wsdl:part name="parameters" element="ns:Send_GoodInfo_Ext2Response" />
  </wsdl:message>
  <wsdl:message name="Send_GoodInfoRequest">
    <wsdl:part name="parameters" element="ns:Send_GoodInfo" />
  </wsdl:message>
  <wsdl:message name="Send_GoodInfoResponse">
    <wsdl:part name="parameters" element="ns:Send_GoodInfoResponse" />
  </wsdl:message>
  <wsdl:message name="Send_GoodInfo_ExtRequest">
    <wsdl:part name="parameters" element="ns:Send_GoodInfo_Ext" />
  </wsdl:message>
  <wsdl:message name="Send_GoodInfo_ExtResponse">
    <wsdl:part name="parameters" element="ns:Send_GoodInfo_ExtResponse" />
  </wsdl:message>
  <wsdl:portType name="PaymentGatewayPortType">
    <wsdl:operation name="QuerryBillStatus">
      <wsdl:input wsaw:Action="urn:QuerryBillStatus" message="ns:QuerryBillStatusRequest" />
      <wsdl:output wsaw:Action="urn:QuerryBillStatusResponse" message="ns:QuerryBillStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTransactionResult">
      <wsdl:input wsaw:Action="urn:ConfirmTransactionResult" message="ns:ConfirmTransactionResultRequest" />
      <wsdl:output wsaw:Action="urn:ConfirmTransactionResultResponse" message="ns:ConfirmTransactionResultResponse" />
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo_Ext2">
      <wsdl:input wsaw:Action="urn:Send_GoodInfo_Ext2" message="ns:Send_GoodInfo_Ext2Request" />
      <wsdl:output wsaw:Action="urn:Send_GoodInfo_Ext2Response" message="ns:Send_GoodInfo_Ext2Response" />
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo">
      <wsdl:input wsaw:Action="urn:Send_GoodInfo" message="ns:Send_GoodInfoRequest" />
      <wsdl:output wsaw:Action="urn:Send_GoodInfoResponse" message="ns:Send_GoodInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo_Ext">
      <wsdl:input wsaw:Action="urn:Send_GoodInfo_Ext" message="ns:Send_GoodInfo_ExtRequest" />
      <wsdl:output wsaw:Action="urn:Send_GoodInfo_ExtResponse" message="ns:Send_GoodInfo_ExtResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PaymentGatewaySoap11Binding" type="ns:PaymentGatewayPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmTransactionResult">
      <soap:operation soapAction="urn:ConfirmTransactionResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerryBillStatus">
      <soap:operation soapAction="urn:QuerryBillStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo_Ext2">
      <soap:operation soapAction="urn:Send_GoodInfo_Ext2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo">
      <soap:operation soapAction="urn:Send_GoodInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo_Ext">
      <soap:operation soapAction="urn:Send_GoodInfo_Ext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentGatewaySoap12Binding" type="ns:PaymentGatewayPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConfirmTransactionResult">
      <soap12:operation soapAction="urn:ConfirmTransactionResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerryBillStatus">
      <soap12:operation soapAction="urn:QuerryBillStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo_Ext2">
      <soap12:operation soapAction="urn:Send_GoodInfo_Ext2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo">
      <soap12:operation soapAction="urn:Send_GoodInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo_Ext">
      <soap12:operation soapAction="urn:Send_GoodInfo_Ext" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PaymentGatewayHttpBinding" type="ns:PaymentGatewayPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="ConfirmTransactionResult">
      <http:operation location="PaymentGateway/ConfirmTransactionResult" />
      <wsdl:input>
        <mime:content part="ConfirmTransactionResult" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="ConfirmTransactionResult" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuerryBillStatus">
      <http:operation location="PaymentGateway/QuerryBillStatus" />
      <wsdl:input>
        <mime:content part="QuerryBillStatus" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="QuerryBillStatus" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo_Ext2">
      <http:operation location="PaymentGateway/Send_GoodInfo_Ext2" />
      <wsdl:input>
        <mime:content part="Send_GoodInfo_Ext2" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Send_GoodInfo_Ext2" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo">
      <http:operation location="PaymentGateway/Send_GoodInfo" />
      <wsdl:input>
        <mime:content part="Send_GoodInfo" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Send_GoodInfo" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_GoodInfo_Ext">
      <http:operation location="PaymentGateway/Send_GoodInfo_Ext" />
      <wsdl:input>
        <mime:content part="Send_GoodInfo_Ext" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Send_GoodInfo_Ext" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentGateway">
    <wsdl:port name="PaymentGatewayHttpSoap11Endpoint" binding="ns:PaymentGatewaySoap11Binding">
      <soap:address location="https://online.banknetvn.com.vn/pg/services/PaymentGateway.PaymentGatewayHttpSoap11Endpoint" />
    </wsdl:port>
    <wsdl:port name="PaymentGatewayHttpSoap12Endpoint" binding="ns:PaymentGatewaySoap12Binding">
      <soap12:address location="https://online.banknetvn.com.vn/pg/services/PaymentGateway.PaymentGatewayHttpSoap12Endpoint" />
    </wsdl:port>
    <wsdl:port name="PaymentGatewayHttpEndpoint" binding="ns:PaymentGatewayHttpBinding">
      <http:address location="https://online.banknetvn.com.vn/pg/services/PaymentGateway.PaymentGatewayHttpEndpoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>